  <ul id="tabs">
    <li><a href="first">First Tab</a></li>
    <li><a href="second">Second Tab</a></li>
    <li><a href="third">Third Tab</a></li>
  </ul>

  <div class="tabContent" id="first">
    <h2>Numero Uno</h2>
    <div>
      <p>A little text about nothing in particular.</p>
    </div>
  </div>
  <div class="tabContent" id="second">
    <h2>The Double Deuce</h2>
    <div>
      <p>Come on, this is a just a reference to the infamous Road House movie, starring the late, great Patrick Swayze!</p>
    </div>
  </div>
  <div class="tabContent" id="third">
    <h2>It's a Trifecta!</h2>
    <div>
      <p>Since three's a charm, I won't do harm adding a fourth tab.</p>
    </div>
  </div>